*{
    font-family: 'montserrat',sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow: none;
}
body{
    background-color: white;
    overflow-y: scroll;  
}
input,select{
    padding: 10px; 
    border:none;
    border-bottom:1px solid #ddd;
    outline:none;
    width:100%;
    font-size:12px;
    margin:10px;
    font-weight:300;
}
a{
    font-size:12px;
}
input::placeholder{
    font-size:12px;
}

.form-container{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
    /* max-width:800px; */
    max-height:800px;
    background-color: white;
}
.form-container div h2{
    font-size: 12px;
}
form{
    display:flex;
    flex-direction: column;
    padding:24px;
    height:100%;
    background-color: white;
    border-radius:8px;
    align-self: center;
    justify-content: center;
    max-width:400px;
    width:100%;
}
.form-container form h2{
    font-size:20px; 
    font-weight:400; 
    padding:0; 
    text-align:center;
}
.form-container .hero{
  height:100%;
   max-width: 500px; 
   width:100%; 
   list-style:none; 
   object-fit: cover; 
   color: white;
   position:relative;
}
.form-container .hero img{
    width:100%;
    height:100%;
    color:white;
}
input[type = "submit"]{
    background-color: orangered;
    padding:12px;
    color: white;
    font-weight: bolder;
    border-radius:20px;
    margin-top:20px;
}
input[type = "submit"]:hover{
    opacity: 0.7;
    transition: all ease-in 0.2;
}
.social-button {
        padding: 10px;
   /* Facebook Blue */
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.facebook-button{
    background-color: #1877F2;
}
.facebook-button:hover {
    background-color: #145DBF; /* Darker Facebook Blue */
}
.overlay{
    padding:20px;
    position:absolute; 
    top:0; 
    background:rgba(0,0,0,0.6); 
    width:100%; height:100%;
    animation: fadeIn 1s forwards;
}
.overlay .content{
    padding:20px;
    position:relative; 
    top:100px;
}
.overlay .content h1{
 font-size:40px;
 margin-bottom:10px;
}
.overlay .content ul li {
    margin:10px;
    animation: slideDown 1s ease-out 1s forwards; 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  } to{
    opacity: 1;
  }
} 
 @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}